<section>
  <table class="chapter full">
    <thead>
      <th colspan="2">
        <%= "#{@chapter.manga} #{@chapter.number}" %>
      </th>
    </thead>
    <tbody>
      <%= render 'layouts/like_tag_row' %> 
    </tbody>
  </table>
</section>
