// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry-container {
  background: #FDFDFD;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.centered { margin: 0 auto; }

.clearfix:before, .clearfix:after { content:""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.chapter.full {
  width: 80%;
}

.chapter.full img {
  width: 98%;
  min-height: 360px; 
  max-height: 1000px;
} 

.tags.crow, .image.crow {
  background-color: #555555;
  min-height: 20px;
  margin: 0 0 0 0;
}

.crow a, .crow {
  color: white;
}

.crow a:hover {
  color: #FF4800; 
}

.ctitle.crow {
  font-size: 24px;
}

.crow { 
  margin: 0 0 0 0;
  font-size: 19px;
  font-family: GUBBLEBUM;
}

.image.crow {
 padding-top: 15px;
  border-radius: 10px 10px 0 0;
}

.tags.crow {
  border-radius: 0 0 8px 8px;
  padding: 5px;
  word-wrap: break-word;
}

.box > * {
  text-align: center;
}

.box img {
  margin: 0 auto 0 auto;
}

.chapter.box {
  background-color: #3D3D3D;
  border: 1px solid #CCCCCC;
}


/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}


