// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chapter {
  width: 150px;
  float: left;
  height: 200px;
  margin: 5px;
}

.chapter img {
  max-height: 160px;
}

.chapter.promoted {
  width: 250px;
  height: 300px;
}

.chapter.promoted img {
  max-height: 210px;
}

.chapter.featured{
  width: 300px;
  height: 400px;
}

.chapter.featured img {
  max-height: 360px;
}

.chapter.full {
  width: 80%;
}

.chapter.full img {
  width: 98%;
  min-height: 360px; 
  max-height: 1000px;
} 
