// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry-container {
  background: #FDFDFD;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.centered { 
  margin: 0 auto; 
  text-align: center;
}

.clearfix:before, .clearfix:after { content:""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.chapter.narrow .crow h5 {
  text-align: left;
}

.chapter.narrow .crow p {
  text-align: center;
}

.chapter.full {
}

.chapter.full img {
  width: 98%;
  min-height: 360px; 
  max-height: 1000px;
} 

.tags.crow, .image.crow {
  background-color: #555555;
  min-height: 20px;
  margin: 0 0 0 0;
}

.crow p {
  font-size: 18px;
}

.crow, .crow > * {
  color: #FF4800; 
}

.crow a {
  color: white;
} 

.crow a:hover {
  color: #FF4800; 
}

.ctitle.crow {
  font-size: 24px;
}

.crow { 
  margin: 0 0 0 0;
  font-size: 19px;
  font-family: GUBBLEBUM;
}

.image.crow {
 padding-top: 15px;
  border-radius: 10px 10px 0 0;
}

.tags.crow {
  border-radius: 0 0 8px 8px;
  padding: 5px;
  word-wrap: break-word;
}

.box > * {
  text-align: center;
}

.box img {
  margin: 0 auto 0 auto;
}

.chapter.box {
  background-color: #3D3D3D;
  border: 1px solid #CCCCCC;
}


/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.floating-button.add-button {
  background-color: #FF4800;
  bottom: 25px;
  right: 20px;
  border: 1px solid #FF4800;

  div, span {
    font-size: 3em;
  }

  &:hover span {
    transform: scale(1) rotate(90deg);
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }

  span {
    transform: scale(1) rotate(-90deg);
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }
}

.floating-button.like-button {
  width: 50px;
  height: 50px;
  background-color: black;
  bottom: 56 + 25 + 15px;
  right: 23px;
  border: 1px solid black;
  //display: none;

  div, span {
    font-size: 1em;
  }
}

.floating-button.tag-button {
  width: 50px;
  height: 50px;
  background-color: blue;
  bottom: 56 * 2 + 25 + 15 * 2px;
  right: 23px;
  border: 1px solid blue;
  //display: none;

  div, span {
    font-size: 1em;
  }
}

.floating-button {
  height: 56px;
  width: 56px;
  color: white;
  position: fixed;
  border-radius: 100%;
  z-index: 9;
  text-align: center;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  } 

  div, span {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
  }
}
