<table class="chapter <%= type %>">
  <thead>
    <%= render 'layouts/chapter_title_row', chap: chap %> 
  </thead>
  <tbody>
    <%= render 'layouts/cover_image_row', chap: chap %> 
    <%= render 'layouts/like_tag_row', chap: chap %> 
  </tbody>
</table>
