<section>
  <% chapters.each do |chap| %>
    <% types = ["promoted", "featured"] %>
    <% 5.times {types << "normal"} %>
    <% type = types.shuffle.first %>
    <%= render 'layouts/chapter', chap: chap, type: type %>
  <% end %>
</section>
