<div class="masonry-container transitions-enabled centered has-gutters infinite-scroll clearfix">
  <% chapters.each do |chap| %>
    <% types = [] %>
    <% 10.times {types << "col2"} %>
    <% type = types.shuffle.first %>
    <%= render 'layouts/chapter', chap: chap, type: type %>
  <% end %>
</div>
