<div class="floating-button-container" id="floatingLikeButton">
  <%= like_to(@chapter) do |text, klass| %>
    <div class="floating-button like-button show-on-hover <%= klass %>">
      <span><%= text %><span>
    </div>
  <% end %>
</div>
