<tr>
  <!-- replace like and tag actions later with 
       web socket actions
   -->
  <td>
    <%= link_to "like", controller: :likes, action: :create %>
  </td>
  <td>
    <%= link_to "tag", controller: :tags, action: :add %> 
  </td>
</tr>
