<tr>
  <!-- replace like and tag actions later with 
       web socket actions
   -->
  <td>
    <%= link_to "like", "/likes/create/#{chap.id}", method: :post %>
  </td>
  <td>
    <%= link_to "tag", controller: :tags, action: :add %> 
  </td>
</tr>
