<div>
  <% chap.tags.each do |tag| %> 
    <%= link_to tag.to_s + ' ', "/tags/#{tag.name}" %>
  <% end %>
</div>

<div class="row">
  <!-- replace like and tag actions later with 
       web socket actions
   -->
  <div class="small-6 columns">
    <% like = current_user.has_like(chap) %>
    <% if like %>
      <span>
        You like this! (
      <%= link_to "unlike", "/likes/destroy/#{like.id}", method: :delete %>
        )
      </span>
    <% else %>
      <%= link_to "like", "/likes/create/#{chap.id}", method: :post %>
    <% end %>
  </div>
  <div class="small-6 columns">
    <%= link_to "+tag", "/tags/add/#{chap.id}", method: :post %> 
  </div>
</div>
