<%= render 'layouts/tags_crow', chap: chap %>

<div class="row social-buttons crow">
  <div class="small-8 columns">
    <%= render 'layouts/like_button', chap: chap %>
  </div>
  <div class="small-4 columns">
    <%= render 'layouts/tag_button', chap: chap %>
  </div>
</div>
