<tr>
  <!-- replace like and tag actions later with 
       web socket actions
   -->
  <td>
    <% if current_user.has_like(chap) %>
      <span>
        You like this! (
      <%= link_to "unlike", "/likes/destroy/#{chap.id}", method: :delete %>
        )
      </span>
    <% else %>
      <%= link_to "like", "/likes/create/#{chap.id}", method: :post %>
    <% end %>
  </td>
  <td>
    <%= link_to "tag", controller: :tags, action: :add %> 
  </td>
</tr>
