<tr>
  <td colspan="2">
    <%= chap.tags.map {|t| t.to_s}.join(', ')  %> 
  </td>
</tr>

<tr>
  <!-- replace like and tag actions later with 
       web socket actions
   -->
  <td>
    <% like = current_user.has_like(chap) %>
    <% if like %>
      <span>
        You like this! (
      <%= link_to "unlike", "/likes/destroy/#{like.id}", method: :delete %>
        )
      </span>
    <% else %>
      <%= link_to "like", "/likes/create/#{chap.id}", method: :post %>
    <% end %>
  </td>
  <td>
    <%= link_to "+tag", "/tags/add/#{chap.id}", method: :post %> 
  </td>
</tr>
