<div class="large-12 columns">
  <div class="main-content">
    <% if flash[:alert] %>
      <section class="alert">
        <p><%= flash[:alert] %></p>
      </section>
    <% end %>
    <%= yield %>
  </div>
  <%= render @disqus if @disqus %>
</div>
