<section>
 <%= form_for(object, url: "/#{params[:controller]}/create") do |f| %>
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix radius">Email</span>
          </div>
          <div class="small-9 columns">
            <%= f.email_field :email, label: false, placeholder: "user@example.com" %>
          </div>
          <% if flash[:error] =~ /email/ %>
            <small class="error medium input-text error">
              can't be blank
            </small>
          <% end %>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix radius">Password</span>
          </div>
          <div class="small-7 columns">
            <%= f.password_field :password, label: false, placeholder: "********" %>
          </div>
          <div class="small-2 columns">
            <%= f.submit commit, class: "button postfix" %>
          </div>
          <% if flash[:error] =~ /password/ %>
            <small class="error medium input-text error">
              can't be blank
            </small>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>

  
